@import "tailwindcss";

:root {
  --background: #333333;
  --foreground: #3D3D3D;
  --card-background: #474747;
  --salmon: #FFA5A5;
  --fonts: #FFF;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--fonts);
  font-family: Arial, Helvetica, sans-serif;
}
